html {
    overscroll-behavior: none;
    user-select: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: #f0f0f0;
    perspective: 1000px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    overflow: hidden;
    overscroll-behavior: none;
}

body::-webkit-scrollbar{
    display: none;
}

h1 {
    /* position: absolute;
    top: 1.5rem; */
    margin-bottom: 20px;
    vertical-align: top;
    text-align: center;
    font-size: 2rem;
}

h2 {
    /* position: absolute;
    top: 4rem; */
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}

h4 {
    margin-top: 100px;
}

hr {
    position: relative;
    bottom: 0;
    width: 100%;
    border: 1px solid #ccc;
}

footer {
    position: absolute;
    height: 20px;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    gap: 100px;
    padding: 10px;
    margin: 0px 0;
    bottom: 0;
    align-items: center;
    text-align: center;
    color: #707070;
    font-size: 2vmin;
}

footer > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #707070;
}

.wheel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wheel {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #333 0%, #ccc 0%, #333 10%);
    box-shadow: 
        inset -2px 0 4px rgba(0, 0, 0, 0.7),  /* Left inner */
        inset 2px 0 4px rgba(0, 0, 0, 0.7),   /* Right inner */
        inset 0 -4px 2px rgba(0, 0, 0, 0.3),   /* Bottom inner */
        inset 0 4px 2px rgba(0, 0, 0, 0.3),    /* Top inner */
        -2px 0 2px rgba(0, 0, 0, 0.7),        /* Left outer */
        2px 0 2px rgba(0, 0, 0, 0.7),         /* Right outer */
        0 -2px 2px rgba(0, 0, 0, 0.3),         /* Bottom outer */
        0 2px 2px rgba(0, 0, 0, 0.3);           /* Top outer */
    position: relative;
    transition: transform 0.2s ease-out;
}

.cube-rotation-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 50vh;
    width: 50vw;
    align-items: center;
    justify-items: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#x-slider-container {
    grid-column: 2;
    grid-row: 1;
}

#y-slider-container {
    grid-column: 3;
    grid-row: 2;
    transform: rotate(90deg);
    height: 100px;
    width: 100px;
}

#cube {
    grid-column: 2;
    grid-row: 2;
}


.cube {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(135deg);
    transition: transform 0.1s;
}

.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: center;
}

.face-container {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: center;
}

.face {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    align-items: center;
    color: #f0f0f0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.face:hover {
    transform: scale(1.05) translateZ(-300px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}


.front  { transform: translateZ(100px); 
    background-color: #FDF0D5;}
.back   { transform: rotateY(180deg) translateZ(100px);
    background-color: #FDF0D5;}
.left   { transform: rotateY(-90deg) translateZ(100px);
    background-color: #C1121F; }
.right  { transform: rotateY(90deg) translateZ(100px);
    background-color: #C1121F; }
.top    { transform: rotateX(90deg) translateZ(100px);
    background-color: #669BBC; }
.bottom { transform: rotateX(-90deg) translateZ(100px);
    background-color: #669BBC; }

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
        margin: 10px;
    }
    h2 {
        font-size: 1.5rem;
        top: 5rem;
        margin: 10px;
    }

    .cube {
        width: 150px;
        height: 150px;
        margin-top: 75px;
    }
    .cube div{
        width: 150px;
        height: 150px;
        transform-origin: center;
    }

    .face-container {
        width: 150px;
        height: 150px;
    }

    .front  { transform: translateZ(75px);}
    .back   { transform: rotateY(180deg) translateZ(75px);}
    .left   { transform: rotateY(-90deg) translateZ(75px);}
    .right  { transform: rotateY(90deg) translateZ(75px);}
    .top    { transform: rotateX(90deg) translateZ(75px);}
    .bottom { transform: rotateX(-90deg) translateZ(75px);}

}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
        margin: 10px;
    }
    h2 {
        font-size: 1rem;
        margin: 10px;
    }

    .cube {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }
    .cube div{
        width: 100px;
        height: 100px;
        transform-origin: center;
    }

    .face-container {
        width: 100px;
        height: 100px;
    }

    .front  { transform: translateZ(50px);}
    .back   { transform: rotateY(180deg) translateZ(50px);}
    .left   { transform: rotateY(-90deg) translateZ(50px);}
    .right  { transform: rotateY(90deg) translateZ(50px);}
    .top    { transform: rotateX(90deg) translateZ(50px);}
    .bottom { transform: rotateX(-90deg) translateZ(50px);}

}