body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    perspective: 1000px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

h1 {
    /* position: absolute;
    top: 1.5rem; */
    margin-bottom: 20px;
    vertical-align: top;
    text-align: center;
    font-size: 2rem;
}

h2 {
    /* position: absolute;
    top: 4rem; */
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.cube {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 0.1s;
}

.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: center;
}

.face-container {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-origin: center;
}

.face {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.face:hover {
    transform: scale(1.05) translateZ(-300px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}


.front  { transform: translateZ(100px); 
    background-color: rgba(0, 255, 255, 0.7);}
.back   { transform: rotateY(180deg) translateZ(100px);
    background-color: rgba(255, 247, 0, 0.7); }
.left   { transform: rotateY(-90deg) translateZ(100px);
    background-color: rgba(0, 13, 255, 0.7); }
.right  { transform: rotateY(90deg) translateZ(100px);
    background-color: rgba(255, 0, 217, 0.7); }
.top    { transform: rotateX(90deg) translateZ(100px);
    background-color: rgba(0, 255, 55, 0.7); }
.bottom { transform: rotateX(-90deg) translateZ(100px);
    background-color: rgba(255, 0, 0, 0.7); }

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
        margin: 10px;
    }
    h2 {
        font-size: 1.5rem;
        top: 5rem;
        margin: 10px;
    }

    .cube {
        width: 150px;
        height: 150px;
        margin-top: 75px;
    }
    .cube div{
        width: 150px;
        height: 150px;
        transform-origin: center;
    }

    .face-container {
        width: 150px;
        height: 150px;
    }

    .front  { transform: translateZ(75px);}
    .back   { transform: rotateY(180deg) translateZ(75px);}
    .left   { transform: rotateY(-90deg) translateZ(75px);}
    .right  { transform: rotateY(90deg) translateZ(75px);}
    .top    { transform: rotateX(90deg) translateZ(75px);}
    .bottom { transform: rotateX(-90deg) translateZ(75px);}

}