body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}

#VANTA {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2.2s ease-in-out;
}

body {
    background: url(./images/bg1.JPG) repeat center center fixed;
    background-size: cover;
}

header {
    margin-top: 1.4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    border: 1px solid #fffa;
    box-shadow: rgb(64, 57, 64) 0px 2px 10px 1px;
}

header > h1 {
    display: inline-block;
    font-size:  0.8em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(5px) saturate(160%) contrast(180%);
    padding: 0.4em 0.6em;
    margin: 1.4em 0;
    border: 1px solid #fffa;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 1.2em;
    max-width: 450px;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blur(5px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 0.8em;
    margin: 2em 0;
    box-shadow: rgb(64, 57, 64) 0px 2px 8px 1px;
}

ul > li > a {
    display: flex;
    font-size: 1.2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 0 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

footer > a {
    color: aliceblue;
    margin: 1em;
}