#blurb {
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
}

#profile_pic {
    width: 25vh;
    border-radius: 50%;
    object-fit: cover;
    margin: 2.5vh;
    border: 5px solid var(--accent-color);
}
