
#toggle-theme {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#menu-container {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left;
}
  
#menu-toggle {
background: none;
border: none;
font-size: 2rem;
cursor: pointer;
}

#my-menu {
display: none;
opacity: 0;
position: absolute;
top: 30px;
min-width: 150px;
max-width: 300px;
background-color: #fffa;
backdrop-filter: blur(5px) saturate(160%) contrast(180%);
-webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
border-radius: 0.5em;
padding: 0.8em;
margin: 2em 0;
padding: 10px;
box-shadow: rgb(64, 57, 64) 0px 2px 8px 1px;
transition: ease-in-out(1s);
text-align: center;
}


#my-menu li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
#my-menu > li > a{
    display: flex;
    font-size: 1.2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    text-decoration: none;
    color: #000000;
}
#my-menu > li > a:hover{
    color: #ffffff;
    background-color: #000000;
}