body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #211f1f;
    background-image: repeating-linear-gradient(0deg, transparent 0, transparent 40px), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='grayscale'%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Ctext x='0' y='52' font-size='50' filter='url(%23grayscale)'%3E%F0%9F%92%94%3C/text%3E%3C/svg%3E");
    background-repeat: repeat;
    filter: grayscale(100%);
    background-size: 40px 40px;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.middlesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(229, 128, 128, 0.966);
    width: 300px;
    height: 200px;
}

#answer {
    background-color: #bfbfbf;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
}
#submit {
    background-color: rgb(220, 220, 220);
    color: white;
    border: none;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(179, 179, 179);
}